.graph {
    -fx-background-color: #F4FFFB;
}

.vertex {
    -fx-stroke-width: 10;
    -fx-radius: 7;
    -fx-stroke: #61B5F1;
    -fx-fill: #FFFFFF;
}

.vertex-label {
    -fx-font: bold 4pt "sans-serif";
}

.edge {
    -fx-stroke-width: 2;
    -fx-stroke: #61B5F1;  
    -fx-fill: transparent; /*important for curved edges. do not remove */
    -fx-stroke-line-cap: round;
    -fx-opacity: 0.8;
}

.edge-label {
    -fx-font: normal 5pt "sans-serif";
}

.arrow {
    -fx-stroke-width: 2;
    -fx-stroke: #FF6D66;  
    -fx-opacity: 0.8;
}

/* Custom vertex. You should revert any unwanted styling in the default element, 
   style, since custom styles will be appended to the default style */
